@media(min-width: 576px){

}

@media(min-width: 360px){

}

@media(min-width: 1200px){
	#formlabel{
		font-size: 18px;
		font-family: sans-serif;
	}
	#frameid{
		border: 0px solid gray;
	}
	.sidebardesign{
		background-color:#302c2c;
	}
	.but{
		background-color: yellow;
	}
	.scalerfont{
		font-family: sans-serif;
		font-size: 35px;
		color:#563d7c;
	}

	.scalerfontindex{
		font-family: sans-serif;
		font-size: 85px;
		color:white;
	}
	

	.sidebarfont{
		font-size: 20px;
		font-family: sans-serif;
		color:grey;
		background-color: #302c2c;

	}
	a{
		color: red;
	}
	ul{
		list-style-type: none;
	}
	.padder{
		padding: 60px;
		padding-left: 200px;
		
	}
	.padders{
		padding: 60px;
		padding-left: 60px;
	}
	.padders2{
		padding: 20px;
		padding-left: 10px;
	}
	
	list-group-item:hover{
		background-color: blue;
	}
	list-group-item{

	}
}
}